In [140]:
import pandas as pd
import numpy as np

## Datas

In [141]:
test_df= pd.read_csv("C:/Users/yyunu/Downloads/test.csv")
train_df=pd.read_csv("C:/Users/yyunu/Downloads/train.csv")

train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [142]:
y= train_df.SalePrice
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [143]:
train_df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [145]:
features = [
    'OverallQual', 
    'GrLivArea', 
    'GarageCars', 
    'TotalBsmtSF', 
    '1stFlrSF', 
    'FullBath', 
    'TotRmsAbvGrd', 
    'YearBuilt', 
    'YearRemodAdd', 
    'LotArea',
    'Fireplaces'
    
]


#18858

In [146]:
X=train_df[features]

X.sample(4)

,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd,LotArea,Fireplaces
407,6,1680,1,840,840,2,8,1915,1976,15576,0
1316,8,1630,3,1622,1630,2,8,2008,2008,10226,1
1010,5,1271,1,720,720,2,7,1948,1950,21286,1
831,7,1200,2,600,520,2,4,2005,2005,3180,0

In [147]:
X.isnull().sum()

OverallQual     0
GrLivArea       0
GarageCars      0
TotalBsmtSF     0
1stFlrSF        0
FullBath        0
TotRmsAbvGrd    0
YearBuilt       0
YearRemodAdd    0
LotArea         0
Fireplaces      0
dtype: int64

In [148]:
X.isnull().sum()

OverallQual     0
GrLivArea       0
GarageCars      0
TotalBsmtSF     0
1stFlrSF        0
FullBath        0
TotRmsAbvGrd    0
YearBuilt       0
YearRemodAdd    0
LotArea         0
Fireplaces      0
dtype: int64

In [149]:
from sklearn.model_selection import train_test_split


train_x, test_x, train_y, test_y= train_test_split(X, y, test_size=0.3, random_state=31)

## Models

In [150]:
from sklearn.tree import DecisionTreeClassifier

tree_model= DecisionTreeClassifier()

tree_model.fit(train_x, train_y)

tree_predictions= tree_model.predict(test_x)

In [151]:
from sklearn.metrics import mean_absolute_error

# Calculate Mean Absolute Error
mae = mean_absolute_error(test_y,tree_predictions )

print(f"Mean Absolute Error: {mae}")

Mean Absolute Error: 31852.680365296805

In [152]:
from sklearn.linear_model import  LinearRegression

lin_model= LinearRegression()

lin_model.fit(train_x, train_y)

lin_predictions= lin_model.predict(test_x)


mae = mean_absolute_error(test_y, lin_predictions)

print(f"Mean Absolute Error: {mae}")

Mean Absolute Error: 24102.366737033728

In [154]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(train_x, train_y)
rf_predictions = rf_model.predict(test_x)
rf_mae = mean_absolute_error(rf_predictions, test_y)

print(f" MAE for Random Forest Model: {rf_mae}")

 MAE for Random Forest Model: 18858.71744303109

In [156]:
# fitting model to full data

rf_model_on_full_data = RandomForestRegressor(random_state=1)


rf_model_on_full_data.fit(X,y)

full_prediction=rf_model_on_full_data.predict(test_x)


mean_absolute_error(full_prediction, test_y)

7166.794656555773